<?xml version="1.0"?>

<configuration>
  <appSettings>
    <add key="MemberId" value="100000276"/>    <!--商户号-->
    <add key="TerminalId" value="100000990"/>    <!--终端号-->
    <add key="Version" value="4.0.0.0"/>    <!--接口版本-->
    <add key="PfxPwd" value="123456"/>    <!--私钥证书密码-->
    <add key="PfxPath" value="~/App_Data/bfkey_100000276@@100000990.pfx"/>    <!--私钥证书路径-->
    <add key="CerPath" value="~/App_Data/bfkey_100000276@@100000990.cer"/>    <!--宝付钥证书路径-->
    <add key="RUrl" value="http://vgw.baofoo.com/cutpayment/api/backTransRequest"/>    <!--请求地址-->
    <add key="LogPath" value="~/Log"/>    <!--日志存放路径-->
    <add key="DataType" value="xml"/>    <!--数据格式-->
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
