<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.chenlin.dp.modules.base.dao.MemberBankcardMapper">

    <select id="listForPage" resultType="net.chenlin.dp.modules.base.entity.MemberBankcardEntity">
        SELECT
        `id`,
        `bank_acc_name`,
        `bank_acc_card`,
        `bank_code`,
        `bf_bind_id`,
        `member_info_id`,
        `is_recharge`,
        `is_withdraw`,
        `remark`,
        `gmt_create`,
        `gmt_modified`
        FROM
        member_bankcard
        <where>
            <if test="memberInfoId != null">
                AND `member_info_id` = #{memberInfoId}
            </if>
            <if test="isRecharge != null">
                AND `is_recharge` = #{isRecharge}
            </if>
            <if test="isWithdraw != null">
                AND `is_withdraw` = #{isWithdraw}
            </if>
            <if test="bankAccCard != null">
                AND `bank_acc_card` = #{bankAccCard}
            </if>
        </where>
        ORDER BY
        id DESC
    </select>

    <insert id="save">
		INSERT INTO member_bankcard (
			`bank_acc_name`, 
			`bank_acc_card`, 
			`bank_code`, 
			`bf_bind_id`, 
			`member_info_id`,
			`is_recharge`,
			`is_withdraw`,
			`remark`, 
			`gmt_create`
		)
		VALUES (
			#{bankAccName}, 
			#{bankAccCard}, 
			#{bankCode}, 
			#{bfBindId}, 
			#{memberInfoId},
			#{isRecharge},
			#{isWithdraw},
			#{remark}, 
			NOW()
		)
	</insert>

    <select id="getObjectById" resultType="net.chenlin.dp.modules.base.entity.MemberBankcardEntity">
		SELECT
			`id`, 
			`bank_acc_name`, 
			`bank_acc_card`, 
			`bank_code`, 
			`bf_bind_id`, 
			`member_info_id`,
			`is_recharge`,
			`is_withdraw`,
			`remark`, 
			`gmt_create`, 
			`gmt_modified`
		FROM
			member_bankcard
		WHERE
			id = #{id}
	</select>

    <update id="update">
        UPDATE member_bankcard
        <set>
            <if test="bankAccName != null">`bank_acc_name` = #{bankAccName},</if>
            <if test="bankAccCard != null">`bank_acc_card` = #{bankAccCard},</if>
            <if test="bankCode != null">`bank_code` = #{bankCode},</if>
            <if test="bfBindId != null">`bf_bind_id` = #{bfBindId},</if>
            <if test="memberInfoId != null">`member_info_id` = #{memberInfoId},</if>
            <if test="isRecharge != null">`is_recharge` = #{isRecharge},</if>
            <if test="isWithdraw != null">`is_withdraw` = #{isWithdraw},</if>
            <if test="remark != null">`remark` = #{remark},</if>
            `gmt_modified` = NOW()
        </set>
        WHERE
        id = #{id}
    </update>

    <delete id="batchRemove">
        DELETE
        FROM
        member_bankcard
        WHERE
        id IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getBankcardByBankCardID" resultType="net.chenlin.dp.modules.base.entity.MemberBankcardEntity">
		SELECT
		`id`,
		`bank_acc_name`,
		`bank_acc_card`,
		`bank_code`,
		`bf_bind_id`,
		`member_info_id`,
		`is_recharge`,
		`is_withdraw`,
		`remark`,
		`gmt_create`,
		`gmt_modified`
		FROM
		member_bankcard
		WHERE
		`bank_acc_card` = #{bankAccCard}
	</select>

    <select id="getBankcardByBfBindID" resultType="net.chenlin.dp.modules.base.entity.MemberBankcardEntity">
		SELECT
		`id`,
		`bank_acc_name`,
		`bank_acc_card`,
		`bank_code`,
		`bf_bind_id`,
		`member_info_id`,
		`is_recharge`,
		`is_withdraw`,
		`remark`,
		`gmt_create`,
		`gmt_modified`
		FROM
		member_bankcard
		WHERE
		`bf_bind_id` = #{bfBindId}
	</select>

    <delete id="removeBankcardInfoByBankcardNo">
		DELETE
		FROM
		member_bankcard
		WHERE
		`bank_acc_card` = #{bankAccCard}
	</delete>

	<update id="updateMemberBankInfo" >
		UPDATE member_bankcard
		SET `bf_bind_id` = '' , `is_recharge` = 0
		WHERE `id` = #{id}
	</update>

</mapper>