<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('交易记录')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">交易流水号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="交易流水号" v-model="tradeLog.transSn" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">交易类型(1-充值;2-提款;3-消费;4-转账;5-收款)<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="交易类型(1-充值;2-提款;3-消费;4-转账;5-收款)" v-model="tradeLog.transType" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">商户订单号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="商户订单号" v-model="tradeLog.sellerOrderId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">交易金额<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="交易金额" v-model="tradeLog.amtMoney" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">支付方式(1-宝付;2-西郊结算系统)<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="支付方式(1-宝付;2-西郊结算系统)" v-model="tradeLog.payModeId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">银行账户姓名<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="银行账户姓名" v-model="tradeLog.bankAccName" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">银行卡号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="银行卡号" v-model="tradeLog.bankAccCard" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">发卡行编号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="发卡行编号" v-model="tradeLog.bankCode" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">宝付绑定标识号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="宝付绑定标识号" v-model="tradeLog.bfBindId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">备注<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="备注" v-model="tradeLog.remark" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">交易时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="交易时间" v-model="tradeLog.gmtCreate" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/base/trade_log/add.js}"></script>
</body>
</html>