<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('会员信息')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">会员编号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="会员编号" v-model="memberInfo.memberId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">会员类型<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="会员类型" v-model="memberInfo.memberType" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">会员名<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="会员名" v-model="memberInfo.memberName" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">会员卡号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="会员卡号" v-model="memberInfo.cardId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">银行卡绑定手机号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="银行卡绑定手机号" v-model="memberInfo.mobile" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">电子邮箱<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="电子邮箱" v-model="memberInfo.email" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">身份证号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="身份证号" v-model="memberInfo.idCard" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">身份证类型(默认1为身份证)<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="身份证类型(默认1为身份证)" v-model="memberInfo.idCardType" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">可用标识(0-不可用;1-可用)<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="可用标识(0-不可用;1-可用)" v-model="memberInfo.isAvailable" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">备注<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="备注" v-model="memberInfo.remark" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">商品去向地址<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="商品去向地址" v-model="memberInfo.xjgjTocorpaddress" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">创建时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="创建时间" v-model="memberInfo.gmtCreate" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">修改时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="修改时间" v-model="memberInfo.gmtModified" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/base/member/edit.js}"></script>
</body>
</html>