<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header_css::header('会员绑定银行卡信息')"></head>
<body>
	<div id="dpLTE" class="container-fluid" v-cloak>
		<table class="form" id="form">
			<tr>
	            <td class="formTitle">银行账户姓名<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="银行账户姓名" v-model="memberBankcard.bankAccName" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">银行卡号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="银行卡号" v-model="memberBankcard.bankAccCard" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">发卡行编号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="发卡行编号" v-model="memberBankcard.bankCode" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">宝付绑定标识号<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="宝付绑定标识号" v-model="memberBankcard.bfBindId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">会员id<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="会员id" v-model="memberBankcard.memberInfoId" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">备注<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="备注" v-model="memberBankcard.remark" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">创建时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="创建时间" v-model="memberBankcard.gmtCreate" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
			<tr>
	            <td class="formTitle">修改时间<font face="宋体">*</font></td>
	            <td class="formValue">
					<input type="text" class="form-control" placeholder="修改时间" v-model="memberBankcard.gmtModified" isvalid="yes" checkexpession="NotNull">
	            </td>
        	</tr>
		</table>
	</div>
	<div th:include="include/footer_js::footer"></div>
	<script th:src="@{/js/base/member_bankcard/add.js}"></script>
</body>
</html>